/* ============================================================
   Placeholders
   ============================================================ */

%card {
  border-radius: 16px;
  overflow: hidden;
}

%transition {
  transition: all .25s ease;
}
