/* ============================================================
   MDL Variables
   ============================================================ */

$app-max-width: 1320px;

$header-height: 80px;

$sidebar-width: 280px;

$footer-height: auto;
