@use "../tokens" as *;

:root {
  --color-primary: #{$color-primary-700};
  --color-primary-dark: #{$color-primary-900};

  --color-bg: #{$color-background};
  --color-surface: #{$color-surface};

  --color-text: #{$color-text-primary};
  --color-text-secondary: #{$color-text-secondary};

  --color-border: #{$color-border};

  --color-success: #{$color-success};
  --color-warning: #{$color-warning};
  --color-error: #{$color-error};
}
